<!DOCTYPE html>
<html>
<head>
  <script src="/javascript/jquery-1.12.2.min_js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/a.css' />

  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/i18n/jquery-ui-i18n.min.js"></script>
  <script>
    function onWriteSubmit()
    {
      if($("#title").val().trim() == "")
      {
        var message = "제목을 입력해 주세요";
        $("#title").val("");
        $("#title").focus();
        alert(message);
        return false;
      }

    }
</script>
</head>

<body>
<section class="main-header content-area3">
<form action="/list/fileupload" method="post" enctype="multipart/form-data" onsubmit="return onWriteSubmit()">
  <table class="type13" id="table2"  style="width: 280px" >
    <thead>
      <tr>
        <th scope="cols">업로드 할 파일을 선택해주세요.</th>
      </tr>
    </thead>
    <tr>
       <td>
           <input type="file" name="title" required> 
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="submit">업로드</button>
      </td>
    </tr>
  </table>
</form>
<div class='filebox' align='right'><button style='background-color: #ffe8ed;' onclick='history.go(-1)'>뒤로가기</button></div>
</section>
</body>
</html>
